body{
}
#login{
    background-color: white;
    border-radius: 12px;
}
#titledesc{
    margin-top: 0%;
    margin-bottom: 5%;
}
#title{
    margin-top: 10%;
}
#top{
    margin-top: 3%;
}
.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #B1B1B1; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: #8D8989;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
  }
